name: test

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    # - "release/*"
    # paths:
    #   - "action.yml"
    #   - "Dockerfile"
    #   - "src/**"


concurrency:
  group:  ${{ github.workflow }}-${{github.event_name}}-${{ github.ref }}
  cancel-in-progress: true      

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: update action.yml to build locally
        run: |
          sed -i 's/.*image\:.*/  image\: \"Dockerfile\"/' action.yml
          cat action.yml      

      - name: build
        uses: ./ # Uses an action in the root directory
        with:
          action: build

      - run: |
          ls -l dist/

      - name: export
        uses: ./ # Uses an action in the root directory
        with:
          export: png
          output: images

      - run: |
          ls -l images/

      - name: codegen react
        uses: ./ # Uses an action in the root directory
        with:
          action: codegen

      - run: |
          ls -l

      - name: codegen mmd
        uses: ./ # Uses an action in the root directory
        with:
          codegen: mmd
          output: mmd

      - run: |
          ls -l mmd/
